div.container
  div.jumbotron
    div.main-title
      h1
        | Librarium
      h2(translate='SLOGAN')

  div.panel.panel-default
    form.panel-body(name="searchForm"
                    novalidate)

      div.form-group.input-group-sm
        label(for="inputTitle" translate='TITLE')
        input.form-control(type="text"
                           name="title"
                           placeholder="{{ 'TITLE_PLACE' | translate }}"
                           id="inputTitle"
                           ng-model="blistCtrl.attributes.title")
      div.form-group.input-group-sm
        label(for="inputAuthor" translate='AUTHOR') 
        input.form-control(type="text"
                           name="author"
                           placeholder="{{ 'AUTHOR_PLACE' | translate }}"
                           id="inputAuthor"
                           ng-model="blistCtrl.attributes.author")
      div.form-group.input-group-sm
        label(for="inputGenre" translate='GENRE') 
        input.form-control(type="text"
                           name="genre"
                           placeholder="{{ 'GENRE_PLACE' | translate }}"
                           id="inputAuthor"
                           ng-model="blistCtrl.attributes.genre")
      div.form-group.input-group-sm
        label(for="inputYear" translate='YEAR') 
        input.form-control(type="text"
                           name="year"
                           placeholder="{{ 'YEAR_PLACE' | translate }}"
                           id="inputAuthor"
                           ng-model="blistCtrl.attributes.year")
      div.form-group.input-group-sm
        label(for="inputMinRating" translate='MIN_RATING')
        input.form-control(type="text"
                           name="minRating"
                           placeholder="{{ 'MIN_RATING_PLACE' | translate }}"
                           id="inputMinRating"
                           ng-model="blistCtrl.attributes.min_score")
      div.form-group.input-group-sm
        label(for="inputMaxRating" translate='MAX_RATING')
        input.form-control(type="text"
                           name="maxRating"
                           placeholder="{{ 'MAX_RATING_PLACE' | translate }}"
                           id="inputMaxRating"
                           ng-model="blistCtrl.attributes.max_score")
      button.btn.btn-blue.btn-sm(ng-click="blistCtrl.searchBooks()"
                                 translate='SEARCH')

  div.row
    div.col-sm-6.col-md-3(ng-repeat="book in blistCtrl.books")
      div.book-item
        img.center-block(ng-src="{{ book.cover }}")
        div.caption.text-center
          p
            | {{ 'BOOK_TITLE' | translate }}: {{ book.title }}
          p
            | {{ 'BOOK_AUTHOR' | translate }}: {{ book.author }}
          div.yellow(star-rating
              rating-value="blistCtrl.calculateStars(book.avg_score)")

  div.text-center
    ul.pagination
      li
        a(ng-click="blistCtrl.booksPage(1)")
          | 1
      li
        a(ng-click="blistCtrl.booksPage(2)")
          | 2

