div.container
  div.panel.panel-default
    div.panel-heading
      h2.text-center(translate='LOGIN_HEADER')
      form.panel-body(name="loginForm"
                      ng-submit="linCtrl.submitForm(loginForm.$valid)"
                      novalidate)

        div.alert-danger.text-center(ng-show="linCtrl.message")
          | {{ linCtrl.message }}

        div.form-group(ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$touched }")
          label(for="inputEmail")
            | Email
          input.form-control(type="email"
                             name="email"
                             placeholder="Email"
                             id="inputEmail"
                             ng-model="linCtrl.form.email"
                             required)
          div.help-block(ng-messages="loginForm.email.$error"
                         ng-if="loginForm.email.$touched")
            p(ng-message="required" translate='REQUIRED_EMAIL_MSG')
            p(ng-message="email" translate='INVALID_EMAIL_MSG')

        div.form-group(ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$touched }")
          label(for='inputPassword' translate='PASSWORD')
          input.form-control(type="password"
                             name="password"
                             placeholder="{{ 'PASSWORD' | translate }}"
                             id="inputPassword"
                             ng-model="linCtrl.form.password"
                             required)
          div.help-block(ng-messages="loginForm.password.$error"
                         ng-if="loginForm.password.$touched")
            p(ng-message="required" translate='REQUIRED_PASSWORD_MSG')

        button.btn.btn-blue.btn-md(type="submit" 
                                   ng-disabled="loginForm.$invalid"
                                   translate='LOG_IN')
