div.container
  div.panel.panel-default(ng-controller="LoginController as linCtrl")
    div.panel-heading
      h2.text-center
        | Log in to your Librarium account 
    form.panel-body(name="loginForm",
                    ng-submit="linCtrl.submitForm(loginForm.$valid)",
                    novalidate)

      div.alert-danger.text-center(ng-show="linCtrl.message")
        | {{ linCtrl.message }}

      div.form-group(ng-class="{ 'has-error': loginForm.email.$invalid && !loginForm.email.$pristine }")
        label(for="inputEmail")
          | Email
        input.form-control(type="email",
                           name="email",
                           placeholder="Email",
                           aria-describedby="basic-addon1",
                           id="inputEmail",
                           ng-model="linCtrl.form.email",
                           required)
        p.help-block(ng-show="loginForm.email.$invalid && !loginForm.email.$pristine")
          | Email is required. Enter a valid email

      div.form-group(ng-class="{ 'has-error': loginForm.password.$invalid && !loginForm.password.$pristine }")
        label(for='inputPassword')
          | Password
        input.form-control(type="password",
                           name="password",
                           placeholder="Password",
                           aria-describedby="basic-addon1",
                           id="inputPassword",
                           ng-model="linCtrl.form.password",
                           required)
        p.help-block(ng-show="loginForm.password.$error.required && !loginForm.password.$pristine")
          | Password is required

      button.btn.btn-blue.btn-md(type="submit", ng-disabled="loginForm.$invalid")
        | Log In
