div.container
  div.panel.panel-default(ng-controller="RegistrationController as regCtrl")
    div.panel-heading
      h2.text-center
        | Join Librarium!
    form.panel-body(ng-submit="regCtrl.submitForm()")
      div.alert-danger.text-center(ng-show="regCtrl.message")
        | {{ regCtrl.message }}

      div.form-group
        label(for="inputName")
          | Name
        input.form-control(type="text",
                           placeholder="Name",
                           aria-describedby="basic-addon1",
                           id="inputName",
                           ng-model="regCtrl.form.name")

      div.form-group
        label(for="inputEmail")
          | Email
        input.form-control(type="email",
                           placeholder="Email",
                           aria-describedby="basic-addon1",
                           id="inputEmail",
                           ng-model="regCtrl.form.email")

      div.form-group
        label(for='inputPassword')
          | Password
        input.form-control(type="password",
                             placeholder="Password",
                             aria-describedby="basic-addon1",
                             id="inputPassword",
                             ng-model="regCtrl.form.password")

      div.form-group
        label(for="inputPasswordConfirmation")
          | Password Confirmation
        input.form-control(type="password",
                           placeholder="Password (again)",
                           aria-describedby="basic-addon1",
                           id="inputPasswordConfirmation",
                           ng-model="regCtrl.form.password_confirmation")

      button.btn.btn-blue.btn-md(type="submit")
        | Sign Up

    pre
      | {{ regCtrl.form }}
