div.container
  div.panel.panel-default
    div.panel-heading
      h2.text-center
        | {{ 'REGISTRATION_HEADER' | translate }}
    form.panel-body(name="registrationForm",
                    ng-submit="regCtrl.submitForm(registrationForm.$valid)",
                    novalidate)

      div.alert-danger.text-center(ng-show="regCtrl.message")
        | {{ regCtrl.message }}

      div.form-group(ng-class="{ 'has-error': registrationForm.name.$invalid && registrationForm.name.$touched }")
        label(for="inputName")
          | {{ 'NAME' | translate }}
        input.form-control(type="text",
                           name="name",
                           placeholder="{{ 'NAME' | translate }}",
                           aria-describedby="basic-addon1",
                           id="inputName",
                           ng-model="regCtrl.form.name",
                           required)
        div.help-block(ng-messages="registrationForm.name.$error",
                       ng-if="registrationForm.name.$touched")
          p(ng-message="required")
            | {{ 'REQUIRED_NAME_MSG' | translate }}

      div.form-group(ng-class="{ 'has-error': registrationForm.email.$invalid && registrationForm.email.$touched }")
        label(for="inputEmail")
          | Email
        input.form-control(type="email",
                           name="email",
                           placeholder="Email",
                           aria-describedby="basic-addon1",
                           id="inputEmail",
                           ng-model="regCtrl.form.email",
                           required)
        div.help-block(ng-messages="registrationForm.email.$error",
                       ng-if="registrationForm.email.$touched")
          p(ng-message="required")
            | {{ 'REQUIRED_EMAIL_MSG'| translate }}
          p(ng-message="email")
            | {{ 'INVALID_EMAIL_MSG' | translate }} 

      div.form-group(ng-class="{ 'has-error': registrationForm.password.$invalid && registrationForm.password.$touched }")
        label(for='inputPassword')
          | {{ 'PASSWORD' | translate }}
        input.form-control(type="password",
                           name="password",
                           placeholder="{{ 'PASSWORD' | translate }}",
                           aria-describedby="basic-addon1",
                           id="inputPassword",
                           ng-model="regCtrl.form.password",
                           ng-minlength="6",
                           ng-maxlength="128",
                           required)

        div.help-block(ng-messages="registrationForm.password.$error",
                       ng-if="registrationForm.password.$touched")
          p(ng-message="required")
            | {{ 'REQUIRED_PASSWORD_MSG' | translate }} 
          p(ng-message="minlength")
            | {{ 'SHORT_PASSWORD_MSG' | translate }}
          p(ng-message="maxlength")
            | {{ 'LONG_PASSWORD_MSG' | translate }}

      div.form-group(ng-class="{ 'has-error': registrationForm.passwordConf.$invalid && registrationForm.passwordConf.$touched }")
        label(for="inputPasswordConfirmation")
          | {{ 'PASSWORD_CONFIRMATION' | translate }}
        input.form-control(type="password",
                           name="passwordConf",
                           placeholder="{{ 'PASSWORD_AGAIN' | translate }}",
                           aria-describedby="basic-addon1",
                           id="inputPasswordConfirmation",
                           pw-check="inputPassword",
                           ng-model="regCtrl.form.password_confirmation",
                           ng-minlength="6",
                           ng-maxlength="128",
                           required)
        div.help-block(ng-messages="registrationForm.passwordConf.$error",
                       ng-if="registrationForm.passwordConf.$touched")
          p(ng-message="pwmatch")
            | {{ 'PASSWORD_NOT_MATCH_MSG' | translate }}
          p(ng-message="required")
            | {{ 'REQUIRED_PASSWORD_MSG' | translate }}
          p(ng-message="minlength")
            | {{ 'SHORT_PASSWORD_MSG' | translate }}
          p(ng-message="maxlength")
            | {{ 'LONG_PASSWORD_MSG' | translate }}

      button.btn.btn-blue.btn-md(type="submit", ng-disabled="registrationForm.$invalid")
        | {{ 'SIGN_UP' | translate }}
