div.container
  div
    a(href="#"
      blur="submit"
      editable-text="uShowCtrl.user.name"
      onbeforeSave="uShowCtrl.updateAttribute({ name: $data})"
      onaftersave="appCtrl.currentUser()")
      | {{ uShowCtrl.user.name }}
  div
    a(href="#"
      blur="submit"
      editable-email="uShowCtrl.user.email")
      | {{ uShowCtrl.user.email }}
  p
    | {{ uShowCtrl.user.created_at }}
  p
    | {{ $parent.currentUser }}

