div.container
  div
    a(href="#"
      blur="submit"
      editable-text="uShowCtrl.user.name"
      onbeforeSave="uShowCtrl.updateAttribute({ name: $data})")
      | {{ uShowCtrl.user.name }}
  div
    a(href="#"
      blur="submit"
      editable-email="uShowCtrl.user.email"
      onbeforeSave="uShowCtrl.updateAttribute({ email: $data})")
      | {{ uShowCtrl.user.email }}
  p
    | {{ uShowCtrl.user.created_at }}
  p
    | {{ $parent.currentUser }}

