doctype html
html(lang="en")
  head
    title Librarium
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    )
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(itemprop="description" content="")

    // og tags
    meta(property="og:description", content="")
    meta(property="og:title", content="")
    meta(property="og:type" content="website")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    meta(property="og:site_name", content="")
    meta(property="fb:admins", content="")

    link(rel="shortcut icon" href="")
    link(href="/css/vendor.css", rel="stylesheet")
    link(href="/css/all.css", rel="stylesheet")
    base(href="/")
  body(ng-app="librarium")
    header
      nav.navbar.navbar-default
        .container
          .navbar-header
            a.navbar-brand(ui-sref='books')
              | Librarium
          ul.nav.navbar-nav.navbar-right
            li
              a(ui-sref='books')
                i.fa.fa-home
            li
              a(href='#')
                | {{ 'MY_BOOKS' | translate }}
            li
              a(ui-sref='login')
                | {{ 'LOG_IN' | translate }}
            li
              a(ui-sref='signup') 
                | {{ 'SIGN_UP' | translate }}
            li(ng-controller="LogoutController as loutCtrl")
              a(ng-click='loutCtrl.destroySession()') 
                | {{ 'LOG_OUT' | translate }} 
            li.dropdown
              a.dropdown-toggle(href='#'
                                data-toggle='dropdown'
                                role='button'
                                aria-haspopup='true'
                                aria-expanded='false')
                | {{ 'LANGUAGE'| translate }}
                span.caret
                ul.dropdown-menu(role='menu'
                                ng-controller='TranslationController')
                  li
                    a(ng-click="changeLanguage('es')")
                        | {{ 'OPT_SPA' | translate }}
                  li
                    a(ng-click="changeLanguage('en')")
                      | {{ 'OPT_ENG' | translate }}

    .container-fluid(ui-view="main")
    // inject:js
    // endinject
